// sizes
$sidBarWidth: 160px;
$sidBarWidth-desktop: 140px;
$sidBarWidth-tab: 120px;
$sidBarWidth-mobile: 100px;
$headerHeight: 90px;
$headerOffset: 37px;
//colors
$backgroundColor1: #FFE4D6;
$backgroundColor2: #E5E5E5;

